/* universal CSS reset snippet */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
}

a {
    color: white;
}

#nav-links {
    /* displays links in single row & centered */
    display: flex;
    justify-content: center;        /* vertical ?
    /* align-items: center; */      /* horizontal ? */

    padding: 20px;
}

li {
    padding: 20px;
}

img {                   /* adds space so not touching the black header */
    margin: 20px;       /* used margin b/c padding distored pic rounding */
}

#bio-pic {
    width: 200px;
    clip-path: circle();    /* circular profile picture */
   
}

#pic-container {
    display: flex;
    justify-content: center; 
}

.bio-text {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#skills-container {
    display: flex;
    flex-wrap: wrap; 
}

/* media query stacks & re-centers navigation links */
@media all and (max-width: 410px) {
    #nav-links {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    li {
        padding: 5px;
    }
}
