/* universal CSS reset snippet */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

h2 {
    margin: 20px;
}

header {
    background-color: black;
}

a {
    color: white;
}

#nav-links {
    /* displays links in single row & centered */
    display: flex;
    justify-content: center;        /* vertical ?
    /* align-items: center; */      /* horizontal ? */

    padding: 20px;
}

li {
    padding: 20px;
}

img {                   /* adds space so not touching the black header */
    margin-top: 20px;       /* used margin b/c padding distored pic rounding */
}

#bio-pic {
    width: 200px;
    clip-path: circle();    /* circular profile picture */
   
}

#pic-container {
    display: flex;
    justify-content: center; 
}

.bio-text {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#bio-container {
    margin: 0px 40px;
}

#skills-container {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap; 
}

#skills-container > div {
    padding: 20px;
}

@media all and (max-width: 410px) {
/* media query stacks & re-centers navigation links */
    #nav-links {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    li {
        padding: 5px;
    }

/* media query resizes Bio text & margin */
    .bio-text {
        font-size: smaller;
        /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    }

    #bio-container {
        margin: 20px;
    }

}
